<<<<<<< HEAD
=======

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: none;

  flex-direction: row;
  position: fixed;
  height: 44px;
  background-color: #333;
}
>>>>>>> a075955ae7243b54f28489f40b8d166ed1733338
