* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  background-color: #659dbd;
  color: #434643;
  font-family: "PT Sans", sans-serif;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  height: 44px;
  background-color: #434643;
  z-index: 100;
  opacity: 0.8;
}
nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #163046;
}
.container.home main {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
.container.home main .welcome {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container.home main .welcome h1 {
  font-family: cursive;
  color: #163046;
}
.container.home main .welcome p {
  color: #112d45;
}
.container.home main .carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
.container.home main .carousel img {
  display: none;
}
.container.home main .left-button,
.container.home main .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: white;
  background-color: gray;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.container.home main .left-button:hover,
.container.home main .right-button:hover {
  color: blue;
  background-color: gray;
  border: 2px solid black;
}
.container.home main .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.container.home main .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.container.home main img {
  width: 100%;
}
.container.home footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  margin-top: 50px;
  background-color: #434643;
  color: #163046;
}
.middle {
  display: flex;
  justify-content: space-around;
}
.middle .charting-content {
  width: 50%;
  margin: 20px 0 35px 0;
  padding-top: 40px;
  text-align: center;
  padding: 40px;
}
.middle .charting-content h3 {
  color: #163046;
  font-family: cursive;
}
.middle .charting-content img {
  width: 100%;
  border-radius: 10px;
}
.middle .charting-content p {
  color: #112d45;
}
.middle .try-content {
  width: 50%;
  margin: 20px 0 35px 0;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.5;
  text-align: center;
  padding: 40px;
}
.middle .try-content h3 {
  color: #163046;
  font-family: cursive;
}
.middle .try-content p {
  color: #112d45;
}
.middle .try-content button {
  padding: 10px 40px;
  margin-top: 20px;
  cursor: pointer;
  background: #f2eda2;
  text-align: center;
  width: 200px;
  height: 100px;
  border-radius: 2px;
}
.middle .try-content button:hover {
  background: #822bd9;
  color: white;
}
.container.about main {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container.about main .carousel,
.container.about main .cards {
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 3;
}
.container.about main .carousel div,
.container.about main .cards div {
  flex-grow: 1;
  flex: 1 1 30%;
  margin: 20px 0;
}
.container.about footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  margin-top: 50px;
  background-color: #434643;
  color: white;
}
