.container.about{
  main{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    .flex(center,center,column);

    .carousel, .cards{
      .flex();
      flex-wrap: wrap;
      flex: 3;

      div{
        flex-grow: 1;
        flex: 1 1 30%;
        margin: 20px 0;
      }
    }
  }

  footer{
    .flex(center,center);
    height: 50px;
    margin-top: 50px;
    background-color: @gigapet-color-primary;
    color: @gigapet-color-white;
  }
}