.container.about{
  main{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    margin-top: 85px;
    .flex(center,center,column);

    @media(max-width:500px){
      width: 98%;
    }

    .intro{
      width:85%;
      .flex(center,center, column);

      h1{
        font-family: 'flappy';
        font-size: 100px;
        margin: 0;
        color: @gigapet-color-white;
        text-shadow: 0 1px 1px black;
      }

      p{
        font-weight: 200;
        font-size: 1.5em;
        text-align: center;
        line-height: 1.5em;
        color:  @gigapet-color-purp;
      }

      hr {
        border: 0;
        margin: 1.35em auto;
        max-width: 100%;
        background-position: 50%;
        box-sizing: border-box;

        &:before, &:after { 
          content: ''; 
        }
      }
      .bookend{
        overflow: visible;
        position: relative;
        border-width: 5px;
        border-color: hsl(0, 0%, 100%) transparent;
        height: 11px;
        border-style: double;
        width: 80%;

        &:before, &:after{
          position: absolute;
          bottom: -3.536px;
          width: 7.071px;
          height: 7.071px;
          display: block;
          border-width: 0 7.071px 7.071px 0;
          border-color: hsl(0, 0%, 100%);
          border-style: double;
          box-sizing: border-box;
        }

        &:before{
          transform: translateZ(0) rotate(-45deg);
          left: -21px;
          animation: spinZForward 1s infinite linear;
        }
        &:after{
          transform: translateZ(0) rotate(135deg);
          right: -21px;
          animation: spinZBackward 1s infinite linear;
        }
      }
    }

  }

  footer{
    .flex(center,center);
    height: 50px;
    margin-top: 50px;
    background-color: @gigapet-color-primary;
    color: @gigapet-color-white;
  }
}



@keyframes spinZForward {
  from {
    transform: rotateX(0deg) rotateZ(-45deg);
  }
  to {
    transform: rotateX(365deg) rotateZ(-45deg);
  }
}

@keyframes spinZBackward {
  from {
    transform: rotateX(0deg) rotateZ(135deg);
  }
  to {
    transform: rotateX(-365deg) rotateZ(135deg);
  }
}