// less page
.container.home {
  @media (max-width: 500px) {
    width: 100%;
  }
  main {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;

    @media (max-width: 500px) {
      width: 95%;
    }

    .welcome {
      margin: 30px 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      line-height: 1.4;
      box-shadow: 0 0 10px royalblue;
      opacity: 0.8;

      h1 {
        font-family: "flappy";
        color: @gigapet-color-h3;
        font-style: italic;
        font-size: 40px;
      }

      p {
        color: @gigapet-color-para;
        animation-duration: 3s;
        animation-name: slidein;
      }
    }
    .carousel {
      width: 100%;
      .flex(center, center);
      height: 400px;
      position: relative;
      overflow: hidden;
      margin-top: 16px;

      img {
        display: none;
      }
    }
    .left-button,
    .right-button {
      .flex(center);
      color: white;
      background-color: gray;
      font-size: 40px;
      border-radius: 50%;
      position: absolute;
      width: 50px;
      height: 50px;
      cursor: pointer;
      &:hover {
        color: #f2d95c;
        background-color: gray;
        border: 2px solid #f2d95c;
      }
    }
    .left-button {
      top: 50%;
      left: 25px;
      transform: translate(0, -50%);
    }
    .right-button {
      top: 50%;
      right: 25px;
      transform: translate(0, -50%);
    }
    img {
      width: 100%;
    }
  }
}

.middle {
  box-shadow: inset 0 0 10px;
  border: 1px solid black;
  .flex(center, center, column);

  @media (max-width: 500px) {
    width: 95%;
  }

  .charting-content {
    width: 75%;
    margin: 20px 20px;
    text-align: center;
    padding: 40px;
    line-height: 1.4;
    @media (max-width: 500px) {
      width: 95%;
    }

    h3 {
      color: @gigapet-color-h3;
      font-family: "flappy";
      font-size: 55px;
    }

    img {
      width: 100%;
      border-radius: 10px;
    }

    img:hover {
      opacity: 0.7;
    }

    p {
      color: @gigapet-color-para;
      animation-duration: 3s;
      animation-name: slidein;
      @media (max-width: 500px) {
      }
    }

    @keyframes slidein {
      from {
        margin-left: 100%;
        width: 300%;
      }

      to {
        margin-left: 0%;
        width: 100%;
      }
    }
  }
}

.spin {
  width: 100%;
  display: flex;
  justify-content: center;

  p {
    font-family: "flappy";
    display: flex;
    justify-content: center;
    font-size: 35px;
  }

  .rotate {
    animation: rotation 8s infinite linear;
    width: 100px;

    img {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}

.click {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;

  button {
    padding: 10px 40px;
    margin-top: 20px;
    cursor: pointer;
    background: #f2eda2;
    text-align: center;
    width: 150px;
    height: 55px;
  }
  button:hover {
    background: @gigapet-color-primary;
    color: white;
  }
}

footer {
  .flex(center, center);
  height: 50px;
  margin-top: 25px;
  background-color: @gigapet-color-primary;
  color: @gigapet-color-h3;
  width: 100%;

  @media (max-width: 500px) {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
}
