nav{
  width: 100%;
  .flex(space-between,center);
  position: fixed;
  height: 44px;
  background-color: @gigapet-color-primary;
  z-index: 100;
  opacity: 0.8;

  a{
    margin: 0 10px;
    text-decoration: none;
  }

}