<<<<<<< HEAD
@gigapet-color-primary: #003300;
@gigapet-color-white: white;
@gigapet-color-black: black;
@gigapet-color-grey: lightgray;
@gigapet-color-background: gray;
=======

@gigapet-color-primary: #333;
@gigapet-color-white: #fff;
@gigapet-color-black: #000;
@gigapet-color-lightgrey: lightgrey;
@gigapet-color-background: #f1f1f1;
>>>>>>> a075955ae7243b54f28489f40b8d166ed1733338
